Documentação CaP - Publica.json
{"name": "Contas a Pagar", "nodes": [{"parameters": {"httpMethod": "POST", "path": "a7dc4c2c-f02d-4fd8-ae0b-964892bffbeb", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1632, 1376], "id": "3e88319f-f9d3-4314-b9e0-fec8dea30ed1", "name": "Webhook", "webhookId": "<REDACTED_WEBHOOK_ID>"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_es", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 320], "id": "5f4556e9-02b8-4774-8783-40cc5bb1eb85", "name": "Supabase", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 320], "id": "5e63aae0-5965-430c-aa6a-7bc90b849edb", "name": "Code"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_es", "fieldValue": "={{ $('Code').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 320], "id": "aa3888d5-e557-4513-9cfb-15327e8bc4f9", "name": "Supabase1", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "70c57d78-a23f-4132-89b3-7cca35daa3eb", "name": "Enviar Omie PR", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 320], "onError": "continueRegularOutput"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "4332390667605", "operator": {"type": "string", "operation": "equals"}, "id": "c703ed43-2760-43fa-a5f1-38835458a88b"}], "combinator": "and"}, "renameOutput": true, "outputKey": "PR"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "6730ac29-1b62-471d-a96c-970317ad64a1", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045980954013", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SC"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "aa04fc56-f0e1-4c46-a04f-f575e7ee3d9c", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045919620741", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SP"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "13a13c74-05c8-4c01-a7ee-50461185c78c", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045950287377", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "ES"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "49f76bb1-b4f5-466a-848a-9adba90e8524", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045934954059", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SE"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "173cf9da-4416-4f84-a79f-1f8fa6d9e802", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045927287400", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "MG"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "3b6afe27-eb87-4c00-8300-58f6ff40dced", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045957954036", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "PA"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "a5cac202-723b-43c1-96a5-1a2383284925", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045965620695", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "RJ"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "6690da6f-1048-46fc-a1dd-1da0a33301c3", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "6045942620718", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "RS"}]}, "options": {}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-1184, 496], "id": "18ddae2a-49d8-41ac-8ea8-560422a84457", "name": "Switch"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_sc", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, -64], "id": "faa9c251-ac73-408f-938c-bed28ccc612d", "name": "Supabase4", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, -64], "id": "fa25f062-f17a-4ac1-9c4a-242f122677f3", "name": "Code1"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_sc", "fieldValue": "={{ $('Code1').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, -64], "id": "79bffabe-6126-4337-bae3-f2fc8bea5ff9", "name": "Supabase5", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code1').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code1').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code1').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code1').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "f5755f50-b638-4b8c-a233-e4fd79d861cd", "name": "Enviar Omie PR1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, -64], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_sp", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 128], "id": "24be04bf-faa3-418c-9a36-5de11bc227b2", "name": "Supabase6", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 128], "id": "26d5e2c7-4034-4a3f-8569-87037d2df921", "name": "Code2"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_sp", "fieldValue": "={{ $('Code2').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 128], "id": "0c951b26-27fa-483c-bd0e-f842fb16aa34", "name": "Supabase7", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code2').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code2').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code2').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code2').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "e04086f4-0729-4e5c-94e5-d559e3d3d301", "name": "Enviar Omie PR2", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 128], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_se", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 512], "id": "aa7eb094-794a-4ff2-885b-6bdfde6fd698", "name": "Supabase8", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 512], "id": "663c65bb-6987-4a44-9ce6-75cb6b480af6", "name": "Code3"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_se", "fieldValue": "={{ $('Code3').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 512], "id": "bccdf60b-e884-4f96-87da-e122de437b6e", "name": "Supabase9", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code3').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code3').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code3').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code3').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "e0ac588a-0843-4412-be67-9d4e2b28b80f", "name": "Enviar Omie PR3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 512], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_mg", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 704], "id": "f6981e30-aa0e-439e-8d54-92e26b26c8c4", "name": "Supabase10", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 704], "id": "5863b2a4-657d-4cce-bda0-a36a2c2ece3b", "name": "Code4"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_mg", "fieldValue": "={{ $('Code4').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 704], "id": "944c0905-8899-4fb5-974c-e540f36a83dc", "name": "Supabase11", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code4').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code4').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code4').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code4').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "475ab9d5-8511-4393-8b82-f66d0b57eed1", "name": "Enviar Omie PR4", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 704], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_pa", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 896], "id": "f4181e06-8f47-4bfb-ae9d-bfa653edba37", "name": "Supabase12", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 896], "id": "e82b4e6f-44b5-4169-b6ed-535ec8b4db07", "name": "Code5"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_pa", "fieldValue": "={{ $('Code5').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 896], "id": "f4030c72-8c34-447d-8ac2-309bcb9e1a80", "name": "Supabase13", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code5').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code5').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code5').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code5').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "2bb92113-2ef8-4457-831a-923e5de24723", "name": "Enviar Omie PR5", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 896], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_rj", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 1088], "id": "36bf12d2-82c0-4c5e-bbe0-cf16456221f0", "name": "Supabase14", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 1088], "id": "7f379b00-fd37-4dbe-bb20-c0b2be1e267d", "name": "Code6"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_rj", "fieldValue": "={{ $('Code6').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 1088], "id": "7dcf2a8e-4976-408d-9fd8-ad85687ba905", "name": "Supabase15", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code6').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code6').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code6').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code6').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "416117c6-28c9-416b-8d1e-d06767baa79b", "name": "Enviar Omie PR6", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 1088], "onError": "continueRegularOutput"}, {"parameters": {"operation": "get", "tableId": "omieClientes", "filters": {"conditions": [{"keyName": "codigo_cliente_rs", "keyValue": "={{ $('Webhook').<REDACTED_JWT>.event.codigo_cliente_fornecedor }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-736, 1280], "id": "68392886-14c9-4d37-8f0a-2fbd8ef38113", "name": "Supabase16", "credentials": {}}, {"parameters": {"jsCode": "return items.map(item => {\n  // Verifica se temos o evento dentro do body\n  const evt = <REDACTED_JWT> && <REDACTED_JWT>.event;\n  if (!evt) return item;\n\n  // Campos de data a converter\n  const camposData = [\n    'data_emissao',\n    'data_previsao',\n    'data_registro',\n    'data_vencimento'\n  ];\n\n  camposData.forEach(campo => {\n    const valorISO = evt[campo];\n    if (valorISO) {\n      const d = new Date(valorISO);\n      const dd = String(d.getDate()).padStart(2, '0');\n      const mm = String(d.getMonth() + 1).padStart(2, '0');\n      const yyyy = d.getFullYear();\n      evt[campo] = `${dd}/${mm}/${yyyy}`;\n    }\n  });\n\n  // Opcional: desfazer o nesting se você preferir\n  // item.json = { ...item.json, ...evt };\n\n  return item;\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 1280], "id": "bd504817-7717-4f66-914a-3130456c4353", "name": "Code7"}, {"parameters": {"tableId": "omieContasApagar", "fieldsUi": {"fieldValues": [{"fieldId": "cod_lan_rs", "fieldValue": "={{ $('Code7').<REDACTED_JWT>.event.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_pr", "fieldValue": "={{ $json.codigo_lancamento_omie }}"}, {"fieldId": "cod_lan_inte_pr", "fieldValue": "={{ $json.codigo_lancamento_integracao }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-288, 1280], "id": "27bbd3bf-eb12-43e0-8357-7057bea286b2", "name": "Supabase17", "credentials": {}}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"IncluirContaPagar\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento_integracao\": \"{{ (() => {\n        let s = '';\n        for (let i = 0; i < 60; i++) {\n          s += Math.floor(Math.random() * 10);\n        }\n        return s;\n      })() }}\",\n      \"codigo_cliente_fornecedor\": \"{{ $json.codigo_cliente_pr }}\",\n      \"data_emissao\": \"{{ $('Code7').<REDACTED_JWT>.event.data_emissao }}\",\n      \"data_previsao\": \"{{ $('Code7').<REDACTED_JWT>.event.data_previsao }}\",\n      \"data_entrada\": \"{{ $('Code7').<REDACTED_JWT>.event.data_registro }}\",\n      \"data_vencimento\": \"{{ $('Code7').<REDACTED_JWT>.event.data_vencimento }}\",\n      \"valor_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.valor_documento }}\",\n      \"codigo_categoria\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_categoria }}\",\n      \"id_conta_corrente\": \"9538418202\",\n      \"numero_documento_fiscal\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"observacao\": \"Pagamento importado automaticamente N8N - NF{{ $('Webhook').<REDACTED_JWT>.event.numero_documento_fiscal }}\",\n      \"numero_parcela\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_parcela }}\",\n      \"chave_nfe\": \"{{ $('Webhook').<REDACTED_JWT>.event.chave_nfe }}\",\n      \"id_origem\": \"{{ $('Webhook').<REDACTED_JWT>.event.id_origem }}\",\n      \"importado_api\": \"S\",\n      \"numero_pedido\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_pedido }}\",\n      \"codigo_tipo_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.codigo_tipo_documento }}\",\n      \"numero_documento\": \"{{ $('Webhook').<REDACTED_JWT>.event.numero_documento }}\"\n    }\n  ]\n}", "options": {}}, "id": "bb524c8e-3853-4316-b227-669b5c409298", "name": "Enviar Omie PR7", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 1280], "onError": "continueRegularOutput"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "<REDACTED_JWT>", "operator": {"type": "string", "operation": "equals"}, "id": "f88f3a23-928f-45a6-8c90-145bd8b6022d"}], "combinator": "and"}, "renameOutput": true, "outputKey": "Inclusao"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "ebb08837-7057-4236-ad5e-6f41df6d4f6b", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "<REDACTED_JWT>", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Alteracao"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "7843a487-a5a1-4dd1-a1ca-a9685c208603", "leftValue": "={{ $<REDACTED_JWT> }}", "rightValue": "<REDACTED_JWT>", "operator": {"type": "string", "operation": "equals", "name": "<REDACTED_JWT>"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Exclusao"}]}, "options": {}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-1408, 1360], "id": "730ae2ee-7ab5-4d0f-98da-4e4bb191ae4b", "name": "Switch1"}, {"parameters": {"operation": "get", "tableId": "omieContasApagar", "filters": {"conditions": [{"keyName": "cod_lan_pr", "keyValue": "={{ $<REDACTED_JWT>[0].conta_a_pagar[0].codigo_lancamento_omie }}"}]}}, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [-1184, 2144], "id": "6a1a9b50-6cab-46de-a1e0-a434342c1f6f", "name": "Get a row", "credentials": {}}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "7fbfcdd0-f68b-4224-9dc2-5b50f847252a", "leftValue": "={{ $json.cod_lan_es }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "ES"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "f219ee33-bba4-4eb2-a919-2cb8701768c6", "leftValue": "={{ $json.cod_lan_sc }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SC"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "ca5a8d1e-cbe5-4925-bbe1-f51d8d73a382", "leftValue": "={{ $json.cod_lan_sp }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SP"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "4153a8d4-fe27-41ee-a17f-3820aac52945", "leftValue": "={{ $json.cod_lan_se }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "SE"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "e530d00b-223e-4b08-af3b-1f2debff282f", "leftValue": "={{ $json.cod_lan_mg }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "MG"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "fbb76f4e-6300-4208-8924-7c129b15fedd", "leftValue": "={{ $json.cod_lan_pa }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "PA"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "9b98b8dd-57af-46ed-98f5-176d6344223f", "leftValue": "={{ $json.cod_lan_rj }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "RJ"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "ed0c6f59-892f-49aa-85e1-812288d6c47e", "leftValue": "={{ $json.cod_lan_rs }}", "rightValue": 0, "operator": {"type": "number", "operation": "notEquals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "RS"}]}, "options": {}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.3, "position": [-736, 2048], "id": "2fd4feec-95da-4ed2-b814-c4bb767a3de6", "name": "Switch2"}, {"parameters": {"assignments": {"assignments": [{"id": "f499730d-a2be-4b53-a412-1ee9c3ba1e2b", "name": "cod_lan_es", "value": "={{ $json.cod_lan_es || 0 }}", "type": "number"}, {"id": "b4237448-24de-450e-848a-2e7d14b60e4b", "name": "cod_lan_sc", "value": "={{ $json.cod_lan_sc || 0}}", "type": "number"}, {"id": "fffb7260-9117-4382-8896-6c4aa1c3f421", "name": "cod_lan_sp", "value": "={{ $json.cod_lan_sp || 0}}", "type": "number"}, {"id": "b8de471a-9c42-4085-8a89-fee195bdbb95", "name": "cod_lan_se", "value": "={{ $json.cod_lan_se || 0}}", "type": "number"}, {"id": "444798ce-e70a-44b6-9bcd-78cbad31c4c5", "name": "=cod_lan_mg", "value": "={{ $json.cod_lan_mg || 0}}", "type": "number"}, {"id": "8094805c-ac6d-42ac-9e27-2d47420fcf00", "name": "cod_lan_pa", "value": "={{ $json.cod_lan_pa || 0}}", "type": "number"}, {"id": "b88c325e-0d50-4a76-9ac8-8878037e8161", "name": "cod_lan_rj", "value": "={{ $json.cod_lan_rj || 0}}", "type": "number"}, {"id": "0dd16d43-6687-4bab-8eaf-3fb6d36f0f6d", "name": "cod_lan_rs", "value": "={{ $json.cod_lan_rs || 0}}", "type": "number"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-960, 2144], "id": "d0527594-6e05-4dbb-b4f1-e31fac5349c2", "name": "Edit Fields"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_sc }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"8691381034\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "85725cef-54ec-4fc1-bbce-c0fb2f82fb74", "name": "Deletar Omie SC", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 1664], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_es }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"2769905368\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "2a545ddb-d451-4a27-b5b1-2c611a2c77e9", "name": "Deletar Omie ES", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 1472], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_se }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"10876921182\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "255b22a2-e1fe-4550-ac15-c3adb6419de4", "name": "Deletar Omie SE", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 2048], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_sp }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"8421590448\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "b081d0aa-b622-45c6-bb5f-ee0fb6833957", "name": "Deletar Omie SP", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 1856], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_mg }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"3179682919\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "96de0ca4-aee2-426c-9ad7-aa21cae94caf", "name": "Deletar Omie MG", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 2240], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_pa }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"10829994845\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "6701bd35-98ad-45a2-9e89-48651042ba1f", "name": "Deletar Omie PA", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 2432], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_rj }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"4309220284\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "4a6245b8-1cad-43f8-bf2a-0b501d165b49", "name": "Deletar Omie RJ", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 2624], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://<REDACTED_JWT>.br/api/v1/financas/contapagar/", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"call\": \"LancarPagamento\",\n  \"app_key\": \"<REDACTED_APP_KEY>\",\n  \"app_secret\": \"<REDACTED_APP_SECRET>\",\n  \"param\": [\n    {\n      \"codigo_lancamento\": {{ $json.cod_lan_rs }},\n      \"codigo_lancamento_integracao\": \"\",\n      \"codigo_baixa_integracao\": \"\",\n      \"codigo_conta_corrente\": \"1906449967\",\n      \"valor\": 0,\n      \"desconto\": {{ $('Webhook').<REDACTED_JWT>.event[0].valor }},\n      \"juros\": 0,\n      \"multa\": 0,\n      \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n      \"observacao\": \"Baixa de documento realizada via API.\"\n    }\n  ]\n}", "options": {}}, "id": "2f209bfa-3b91-44c8-9133-b068075cbad0", "name": "Deletar Omie RS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 2816], "onError": "continueRegularOutput"}], "pinData": {"Webhook": [{"json": {"headers": {"host": "n8n-cwb-main_webhook-prd.nwdrones.com.br", "user-agent": "python-requests/2.32.4", "content-length": "1029", "accept": "*/*", "accept-encoding": "gzip, br", "cdn-loop": "cloudflare; loops=1; subreqs=1", "cf-connecting-ip": "2a06:98c0:3600::103", "cf-ew-via": "15", "cf-ipcountry": "BR", "cf-ray": "98b0675e11006ea3-GRU", "cf-visitor": "{\"scheme\":\"https\"}", "cf-warp-tag-id": "4b8012dd-56cd-4aa9-8707-87a1d84c5164", "cf-worker": "rodrigo-lucchin.workers.dev", "connection": "keep-alive", "content-type": "application/json", "x-forwarded-for": "2a06:98c0:3600::103", "x-forwarded-proto": "https"}, "params": {}, "query": {}, "body": {"messageId": "cb6ce5d7-d60f-4e30-9b10-bb1cbce7fd64", "topic": "Financas.ContaPagar.BaixaRealizada", "event": [{"codigo_baixa": 9885829216, "codigo_baixa_integracao": "", "codigo_cliente_fornecedor": 9540769183, "codigo_conta_corrente": 9538418202, "conta_a_pagar": [{"codigo_lancamento_integracao": "<REDACTED_TOKEN>", "codigo_lancamento_omie": 9885438355, "data_emissao": "2025-05-27T00:00:00-03:00", "data_entrada": "2025-05-27T00:00:00-03:00", "data_vencimento": "2025-10-08T00:00:00-03:00", "numero_documento": "002746413/1", "numero_documento_fiscal": "002746413", "numero_parcela": "001/001", "valor_documento": 10518.34}], "data": "2025-10-07T00:00:00-03:00", "data_cred": "2025-10-07T00:00:00-03:00", "desconto": 0, "juros": 0, "multa": 0, "observacao": "", "tarifa": 0, "valor": 10518.34}], "author": {"email": "<REDACTED_EMAIL>", "name": "Rodrigo Lucchin", "userId": 1270950}, "appKey": "4332390667605", "appHash": "nw-5xqzm0se", "origin": "omie-connect-2.0"}, "webhookUrl": "https://n8n-cwb-main_webhook-prd.nwdrones.com.br/webhook/a7dc4c2c-f02d-4fd8-ae0b-964892bffbeb", "executionMode": "production"}}]}, "connections": {"Webhook": {"main": [[{"node": "Switch1", "type": "main", "index": 0}]]}, "Supabase": {"main": [[{"node": "Enviar Omie PR", "type": "main", "index": 0}]]}, "Code": {"main": [[{"node": "Supabase", "type": "main", "index": 0}]]}, "Enviar Omie PR": {"main": [[{"node": "Supabase1", "type": "main", "index": 0}]]}, "Switch": {"main": [[], [{"node": "Code1", "type": "main", "index": 0}], [{"node": "Code2", "type": "main", "index": 0}], [{"node": "Code", "type": "main", "index": 0}], [{"node": "Code3", "type": "main", "index": 0}], [{"node": "Code4", "type": "main", "index": 0}], [{"node": "Code5", "type": "main", "index": 0}], [{"node": "Code6", "type": "main", "index": 0}], [{"node": "Code7", "type": "main", "index": 0}]]}, "Supabase4": {"main": [[{"node": "Enviar Omie PR1", "type": "main", "index": 0}]]}, "Code1": {"main": [[{"node": "Supabase4", "type": "main", "index": 0}]]}, "Enviar Omie PR1": {"main": [[{"node": "Supabase5", "type": "main", "index": 0}]]}, "Supabase6": {"main": [[{"node": "Enviar Omie PR2", "type": "main", "index": 0}]]}, "Code2": {"main": [[{"node": "Supabase6", "type": "main", "index": 0}]]}, "Enviar Omie PR2": {"main": [[{"node": "Supabase7", "type": "main", "index": 0}]]}, "Supabase8": {"main": [[{"node": "Enviar Omie PR3", "type": "main", "index": 0}]]}, "Code3": {"main": [[{"node": "Supabase8", "type": "main", "index": 0}]]}, "Enviar Omie PR3": {"main": [[{"node": "Supabase9", "type": "main", "index": 0}]]}, "Supabase10": {"main": [[{"node": "Enviar Omie PR4", "type": "main", "index": 0}]]}, "Code4": {"main": [[{"node": "Supabase10", "type": "main", "index": 0}]]}, "Enviar Omie PR4": {"main": [[{"node": "Supabase11", "type": "main", "index": 0}]]}, "Supabase12": {"main": [[{"node": "Enviar Omie PR5", "type": "main", "index": 0}]]}, "Code5": {"main": [[{"node": "Supabase12", "type": "main", "index": 0}]]}, "Enviar Omie PR5": {"main": [[{"node": "Supabase13", "type": "main", "index": 0}]]}, "Supabase14": {"main": [[{"node": "Enviar Omie PR6", "type": "main", "index": 0}]]}, "Code6": {"main": [[{"node": "Supabase14", "type": "main", "index": 0}]]}, "Enviar Omie PR6": {"main": [[{"node": "Supabase15", "type": "main", "index": 0}]]}, "Supabase16": {"main": [[{"node": "Enviar Omie PR7", "type": "main", "index": 0}]]}, "Code7": {"main": [[{"node": "Supabase16", "type": "main", "index": 0}]]}, "Enviar Omie PR7": {"main": [[{"node": "Supabase17", "type": "main", "index": 0}]]}, "Switch1": {"main": [[{"node": "Switch", "type": "main", "index": 0}], [], [{"node": "Get a row", "type": "main", "index": 0}]]}, "Get a row": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]}, "Edit Fields": {"main": [[{"node": "Switch2", "type": "main", "index": 0}]]}, "Switch2": {"main": [[{"node": "Deletar Omie ES", "type": "main", "index": 0}], [{"node": "Deletar Omie SC", "type": "main", "index": 0}], [{"node": "Deletar Omie SP", "type": "main", "index": 0}], [{"node": "Deletar Omie SE", "type": "main", "index": 0}], [{"node": "Deletar Omie MG", "type": "main", "index": 0}], [{"node": "Deletar Omie PA", "type": "main", "index": 0}], [{"node": "Deletar Omie RJ", "type": "main", "index": 0}], [{"node": "Deletar Omie RS", "type": "main", "index": 0}]]}}, "active": true, "settings": {"executionOrder": "v1"}, "versionId": "08fedb53-d39b-4842-a3b3-59820f2532fb", "meta": {"templateCredsSetupCompleted": true, "instanceId": "<REDACTED_TOKEN>"}, "id": "Ma2mnwSgkGoYFJxK", "tags": []}